// Colors
//---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-default-white_50:            rgba(255, 255, 255, 0.5); // #ffffff

// Base

$color-blue:                        #46535e;
$color-blue-2:                      #2698e4;
$color-mustard:                     #d9a744;
$color-white-1:                     #fbfbfb;
$color-gray-light:                  #c2c2c2;
$color-gray-4:                      #707070;
$color-gray-4_30:                   rgba(112, 112, 112, 0.3); // #707070
$color-gray-dark-1:                 #3a3a3a;

// Gradient

//$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family-main:                  "Arial", sans-serif;
$font-family-second:                "HelveticaNeueCyr", "Arial", sans-serif;

// Animation
//---------------------------------

$opacity-hover:                     0.7;
$duration:                          0.5s;
$animate-function:                  ease;
$modal-duration:                    0.6s;
$modal-function:                    cubic-bezier(0.55, 0, 0.1, 1);
$transition:                        $duration $animate-function;
$modal-transition-settings:         $modal-duration $modal-function;

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      720px;
$viewport--lg:                      960px;
$viewport--xl:                      1140px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;


// Сетка
$column-desk:                       79px;
$column-mobile:                     78px;
$column-desk-gap:                   30px;
$column-mobile-gap:                 10px;

// Адаптив
//---------------------------------

$content:                           ($column-desk + $column-desk-gap) * 12 - $column-desk-gap;
$external-padding:                  70px;
$desktop-xxl-padding:               40px;
$desktop-lg-padding:                32px;
$tablet-padding:                    20px;
$mobile-padding:                    20px;

// prefix
$prefix_css_img:                    "../img/";
